{% extends 'AppBundle::layout.html.twig' %}

{% import 'AppBundle:admin:macros.html.twig' as forms %}


{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>Administration</h1>
        </div>
        <p>...</p>
        {{ knp_pagination_filter(pagination, {'u.email': 'E-Mail'|trans(), 'u.username':'Username'}) }}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>{{ forms.tableHeadline(pagination, 'ID', 'u.id') }}</th>
                <th>{{ forms.tableHeadline(pagination, 'Username'|trans(), 'u.username') }}</th>
                <th>{{ forms.tableHeadline(pagination, 'E-Mail'|trans(), 'u.email') }}</th>
                <th>{{ forms.tableHeadline(pagination, 'active'|trans(), 'u.enabled') }}</th>
                <th>{{ 'Role'|trans }}</th>
                <th></th>
            </tr>
            </thead>

            {% for data in pagination %}
                <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.getUsername }}</td>
                    <td>{{ data.getEmail }}</td>
                    <td>{% if data.enabled == '1' %}<span class="label label-success">{{ 'active'|trans() }}</span>{% endif %}</td>
                    <td>
                        {% for value in data.roles %}
                            {% if value == 'ROLE_ADMIN' %}
                                <span class="label label-danger">admin</span>
                            {% elseif value == 'ROLE_USER' %}
                                <span class="label label-warning">user</span>
                            {% endif %}
                        {% endfor %}
                    <td style="text-align: right"><div class="btn-group btn-group-sm" role="group" aria-label="admin action">
                            {{ forms.promote(data.roles, {'id':data.id}|merge(pagination.params)) }}
                            {{ forms.activate(data.enabled, {'id':data.id}|merge(pagination.params)) }}
                        </div></td>
                </tr>
            {% endfor %}
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block title %}
    Administration Area
{% endblock %}

